// Fonts
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

// Variables
// @import "variables";

body {
  margin: 0;
  background-color: #fcfcfc;
}

h1 {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 36px;
}

h2 {
  font-family: "Baskervville", Georgia, "Times New Roman", Times, serif;
}

p,
ol,
ul {
  font-family: "Baskervville", Georgia, "Times New Roman", Times, serif;
  line-height: 28px;
  margin-block-start: 0;
  margin-block-end: 0;
}

// Carousel styling because plugins don't like scoped styles in components
.cat-carousel__content__wrapper__item {
  padding: 0 8px !important;
}

.cat-carousel__navigation {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  align-self: unset;
  top: 25% !important;
}

.cat-carousel__navigation__next {
  align-self: unset;
  top: 25% !important;
  right: 4px !important;
}

.full-image {
  .cat-carousel__navigation {
    top: 50% !important;
  }
  .cat-carousel__navigation__next {
    top: 50% !important;
  }
}
